@tailwind base;
@tailwind components;
@tailwind utilities;

.datePicker {
  input {
    padding: 4px 7px;
    border-radius: 3px;
    border: 1px solid #e5e7eb;
    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
    transition: background-color 1s border-color 1s;
    color: rgb(71 85 105);
  }

  input:hover {
    background-color: #f3f4f6;
  }

  input:focus {
    outline: none;
    border-color: #2563eb;
  }
}

.animate-spin {
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(199, 191, 191, 0.753);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.13);
}
